body{
text-align: center;
background-color: bisque;
}
#firstp{
    color: aquamarine;
    font-size: 40px;
    font-family: serif;
}
#secondp{
    color: aquamarine;
    font-size: 40px;
    font-family: serif;
}
#thirdp{
    color: aquamarine;
    font-size: 40px;
    font-family: serif;
}
#fourthp{
    color: aquamarine;
    font-size: 40px;
    font-family: serif;
}
#fifthp{
    color: aquamarine;
    font-size: 40px;
    font-family: serif;
}
#sixthp{
    color: aquamarine;
    font-size: 40px;
    font-family: serif;
}
#seventhp{
    color: aquamarine;
    font-size: 40px;
    font-family: serif;
}
#eightp{
    color: aquamarine;
    font-size: 40px;
    font-family: serif;
}
#ninthp{
    color: aquamarine;
    font-size: 40px;
    font-family: serif;
}
#tenthp{
    color: aquamarine;
    font-size: 40px;
    font-family: serif;
}